# Data
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/*.pkl
models/*.joblib

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Reports
reports/final_report.pdf
